* {
    box-sizing: border box;
    background-color: rgb(224, 166, 175);
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: var(--primary);
    background-color: var(--light);
    line-height: 1.5;
  }
  
  h1 {
    font-family: fantasy;
    color: lightslategray;
    background-color: lightpink;
  }
  h2 {
    font-family: fantasy;
    color: lightslategray;
    background-color: lightpink;
  }
  h2 .self{
    display: flex;
    size: 10px;
  }
  h3 {
  font-family: fantasy;
  color: lightslategray;
  background-color: lightpink;
  } 
  p {
    margin: 0;
  }

  header {
      display: flex;
      flex-direction: row;
      flex-wrap:wrap;
      padding-left: 20 px;
      padding-top: 15px;
      align-items: center;
      justify-content:space-between;
      font-family: fantasy;
      color: lightslategray;
      background-color: lightpink;
      border: 5px solid grey;
      box-shadow: 0 5px 35px;    
  }
  header .title{
      padding: 10 px 20 px 0 px 30 px;
  }
header nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
header nav a {
  text-decoration: none;
  padding: 10px 15px;
  margin-right: 10px;
  font-size: 1.4rem;
  background-image: var(--secondary);
  background-repeat:no-repeat;
  background-size: 100% 0.2em;
  background-position: bottom;
  transition: all 0.25s ease-in;
}
.section-page{
  display:flex;
  align-items: center;
  text-align: center;
}
.section-page img{
  width: 100%;
  height: auto;
  border-radius: 8px;
}
.words{
  padding:1rem;
}
.hero {
  background-image: url("../My-Portfolio/assets/images/hdesign.jpg");
  display: flex;
  justify-content: flex-end;
  background-size: cover;
  background-position: center;
}
.flex-container {
  height: 25vh;
  width: 80vw;
  padding: 0.5em;
  display:flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: center;
}
.flex-box{
  display: flex;
  width: 100%;
  height: auto;
}
.projectinfo{
  position: absolute;
  line-height: 0.5rem;
  top: 50px;
  padding: 1rem;
}
  .surf {
    background-image: url("./assets/images/filler1.jpeg");
    width: 50%;
    height:200px;
    background-size: cover;
    background-position: center;
    position: relative;
  }
  .led {
    background-image: url("./assets/images/filler2.jpeg");
    width: 50%;
    height:200px;
    background-size: cover;
    background-position: center;
    position: relative;
  }
  .puzzles {
    background-image: url("./assets/images/filler3.jpeg");
    width: 50%;
    height:200px;
    background-size: cover;
    background-position: center;
    position: relative;
  }
  .buddy {
    background-image: url("./assets/images/filler4.jpeg");
    width: 50%;
    height:200px;
    background-size: cover;
    background-position: center;
    position: relative;
  }
  .calculator {
    background-image: url("./assets/images/filler5.jpeg");
    width: 50%;
    height:200px;
    background-size: cover;
    background-position: center;
    position: relative;
  }
  .section-contact {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    bottom: 0;
  }